@model Candor.Web.ViewModels.Authorization.LoginViewModel

@{
    ViewData["Title"] = "Sign in";
}

<div class="d-flex align-items-center justify-content-center">
    <form method="post">
        <div class="form-group">
            <label asp-for="UserName"></label>
            <input class="form-control" type="text" value="Admin" asp-for="UserName"/>
        </div>

        <div class="form-group">
            <label asp-for="Password"></label>
            <input class="form-control" type="password" value="Admin" asp-for="Password"/>
        </div>

        <button class="btn btn-primary" type="submit">Sign in</button>
        
        <div class="errors">
            <label>@ViewData["Error"]</label>
        </div>
    </form>
</div>