@model Candor.Web.ViewModels.Authorization.RegistrationViewModel

@{
    ViewData["Title"] = "Sign up";

    var errors = (string[])ViewData["Errors"] ?? Array.Empty<string>();
}

<div class="d-flex align-items-center justify-content-center">
    <form method="post" asp-action="Register">
        <div class="form-group">
            <label asp-for="UserName"></label>
            <input class="form-control" type="text" value="Admin" asp-for="UserName" />
            <span asp-validation-for="UserName"></span>
        </div>

        <div class="form-group">
            <label asp-for="Email">Email</label>
            <input class="form-control" type="email" value="Admin@gmail.com" asp-for="Email" />
            <span asp-validation-for="Email"></span>
        </div>

        <div class="form-group">
            <label asp-for="Password">Password</label>
            <input class="form-control" type="password" value="Admin" asp-for="Password" />
            <span asp-validation-for="Password"></span>
        </div>

        <button class="btn btn-primary" type="submit">Sign up</button>

        @if (errors.Any())
        {
            <div class="errors">
                @foreach (var error in errors)
                {
                <label>@error</label>
                }
            </div>
        }
    </form>
</div>
