@model Candor.UseCases.Blog.CreatePost.CreatePostCommand

@{
    ViewData["Title"] = "Creating post";
}

<div class="d-flex align-items-center justify-content-center">
    <form method="post" asp-action="CreatePost">
        <div class="form-group">
            <label asp-for="Title"></label>
            <input class="form-control" type="text" value="TestTitle" asp-for="Title" />
        </div>

        <div class="form-group">
            <label asp-for="Content"></label>
            <textarea class="form-control" asp-for="Content">Test content test content test content test content.</textarea>
        </div>

        <button class="btn btn-primary" type="submit">Create</button>
    </form>
</div>