@model Candor.Domain.Models.Post

@{
    ViewData["Title"] = "Editing post";
}

<div class="d-flex align-items-center justify-content-center">
    <form method="post" asp-action="EditPost">
        <div class="form-group">
            <label asp-for="Title"></label>
            <input class="form-control" type="text" asp-for="@Model.Title" />
            <span asp-validation-for="Title"></span>
        </div>

        <div class="form-group">
            <label asp-for="Content"></label>
            <textarea class="form-control create-post-content" asp-for="@Model.Content"></textarea>
            <span asp-validation-for="Content"></span>
        </div>

        <button class="btn btn-success" type="submit">Save changes</button>
    </form>
</div>