@using Microsoft.AspNetCore.Mvc.TagHelpers
@using Candor.Domain.Models

@model IEnumerable<Post>

@{
    ViewData["Title"] = "My blog";
}

<div class="row">
    <div class="col-md-auto">
        <h3>Posts</h3>
    </div>
    <div class="col-md-auto">
        <a class="btn btn-primary" asp-action="CreatePost">Create post</a>
    </div>
    <div class="col-md-auto">
        <fieldset>
            <label>All</label>
            <input type="radio" name="privacy" value="all" onclick="LoadPosts(null)" checked/>
            <label>Private</label>
            <input type="radio" name="privacy" value="private" onclick="LoadPosts(false)"/>
            <label>Public</label>
            <input type="radio" name="privacy" value="public" onclick="LoadPosts(true)"/>
        </fieldset>
    </div>
</div>

<div id="postsTest">

</div>

@section Scripts{
    <script>

        LoadPosts(null);
    
    </script>
}