@using Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "My blog";
}

<div class="row">
    <div class="col-md-auto">
        <h3>Posts</h3>
    </div>

    <div class="col-md-auto">
        <a class="btn btn-primary" asp-action="CreatePost">Create post</a>
    </div>

    <div class="col-md-auto">
        <label>Private</label>
        <input type="checkbox" id="private" checked onclick="LoadPosts()"/>
        <label>Public</label>
        <input type="checkbox" id="public" checked onclick="LoadPosts()" />
    </div>
</div>

<div id="postsTest">

</div>

@section Scripts
{
    <script>
        LoadPosts();
    </script>
}