@using Microsoft.AspNetCore.Mvc.TagHelpers
@using Candor.Domain.Models

@model IEnumerable<Post>

@{
    ViewData["Title"] = "My blog";
}

<h3>Posts</h3>

<a asp-action="CreatePost">Create post</a>

@await Component.InvokeAsync("Blog", new { posts = Model })