@using Microsoft.AspNetCore.Mvc.TagHelpers
@using Candor.Domain.Models

@model IEnumerable<Post>


@await Component.InvokeAsync("Blog", new { posts = Model })

<a asp-action="CreatePost">Create post</a>