@using Microsoft.AspNetCore.Mvc.TagHelpers
@using Candor.Domain.Models

@model IEnumerable<Post>

@{
    ViewData["Title"] = "My blog";
}

<div class="row">
    <div class="col-md-auto">
        <h3>Posts</h3>
    </div>
    <div class="col-md-auto">
        <a class="btn btn-primary" asp-action="CreatePost">Create post</a>
    </div>
</div>

@await Component.InvokeAsync("Blog", new { posts = Model })