@model IEnumerable<Candor.Domain.Models.Post>

@{
    ViewData["Title"] = "Home Page";
}

<h3>Posts</h3>

<div class="blog">
    @if (Model.Any())
    {
        foreach (var post in Model)
        {
            <h4>@post.Title Was created: @post.CreatedAt Author: @post.User.UserName</h4>
            <p class="postContent">@post.Content</p>
        }
    }
    else
    {
        <label>No posts here.</label>
    }
</div>
