<div class="loginPartial">
    <ul class="navbar-nav">
        @if (User.Identity!.IsAuthenticated)
        {
            <li class="nav-item">
                <label>Hello @User.Identity.Name</label>
            </li>
            <form class="d-flex" method="post" asp-controller="Authorization" asp-action="Logout">
                <button class="btn btn-sm btn-outline-secondary ms-2" type="submit">Sign out</button>
            </form>
        }
        else
        {
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Authorization" asp-action="Login">Sign in</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Authorization" asp-action="Registration">Sign up</a>
            </li>
        }
    </ul>
</div>
