@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
    /* Colors. */
    --post-name-color: #212529;
    --error-font-color: #f00;
    --inactive-color: #808080;
    --active-color: #000;
    /* Fonts. */
    --common-font-size: 20px;
    --light-bold: 600;
}

nav {
    --nav-font-size: 20px;
    font-size: var(--nav-font-size);
    padding-inline: 10%;
}

body {
    font-size: var(--common-font-size);
    font-family: "PT Serif", Georgia, "Times New Roman", serif;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.form-control {
    width: auto;
    margin-top: 5px;
    margin-bottom: 10px;
}

.errors {
    margin-top: 20px;
}

.field-validation-error {
    color: var(--error-font-color);
}

.postContent {
    white-space: pre-wrap;
}

.post-name {
    color: var(--post-name-color);
    font-weight: var(--light-bold);
}

a.post-name {
    text-decoration: none;
}

.dropdown-item:hover {
    cursor: pointer;
}

svg.dropdown-points {
    fill: var(--inactive-color);
    min-width: 30px;
    height: auto;
}

svg.dropdown-points:hover {
    fill: var(--active-color);
    cursor: pointer;
}

div.dropdown-points {
    width: min-content;
    max-height: 20px;
    top: 5px;
    position: relative;
    display: flex;
    align-content: center;
}

.dropdown {
    padding-left: 0;
}

.dropdown-menu {
    min-width: 5rem;
}

.col-md-auto {
    flex: 0 0 auto;
    width: auto;
}