:root {
    --dark-grey: #212529;
    --light-bold: 600;
    --common-font-size: 20px;
}

nav {
    --nav-font-size: 20px;
    font-size: var(--nav-font-size);
    padding-inline: 10%;
}

body {
    font-size: var(--common-font-size);
    font-family: Georgia, serif;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.form-control {
    width: auto;
    margin-top: 5px;
    margin-bottom: 10px;
}

.errors {
    margin-top: 20px;
}

.field-validation-error {
    color: red;
}

.postContent {
    white-space: pre-wrap;
}

.post-name {
    color: var(--dark-grey);
    font-weight: var(--light-bold);
}

a.post-name {
    text-decoration: none;
}

.dropdown-item:hover {
    cursor: pointer;
}

svg.dropdown-points {
    fill: grey;
}

svg.dropdown-points:hover {
    fill: black;
    cursor: pointer;
}

div.dropdown-points {
    width: 30px;
    height: 30px;
}

.dropdown {
    padding-left: 0;
}

.dropdown-menu {
    min-width: 5rem;
}